@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.loader {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #4285F4;
}

.loader::after {
    content:'\2026'; 
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 0.8em;
    }
}